*{
    padding:0;
    margin:0;
}

li{
    list-style: none;
    position: relative;
}
.show{
    z-index: 99;
}
a{
    font-style: normal;
    text-decoration-line: none;
}
img{
    display:block;
}
.top img{
    width:100%;
    height:100%;
    float:left;
}
.banner_1{
    width:100%;
    height:40px;
    background:#333333;
    float:left;
}
.container{
    width:1227px;
    margin:0 auto;
    /* overflow: hidden; */
}
.banner_1_L{
    width:492px;
    height:40px;
    display: flex;
    justify-content: space-between;
    line-height: 40px;
}
.banner_1_L li{
    float:left;
}
.banner_1_L li a{
    font-size:12px;
    color:#b0b0b0;
}
.banner_1_L li a:hover{
    color:white;
}
.banner_1_L li:nth-child(2n){
    color:#423d39;
}
.banner_1_R{
    width: 129px;
    height:40px;
    float:right;
    margin-top:-40px;
    display: flex;
    justify-content: space-between;
    line-height:40px;
    margin-right:205px;
}
.banner_1_R li{
    float:left;
}
.banner_1_R li:nth-child(2n){
    color:#423d39;
}
.banner_1_R li a{
    font-size: 12px;
    color:#b0b0b0;
}
.shop_car{
    width:120px;
    height:40px;
    background: #424242;
    float:right;
    margin-top:-40px;
    line-height:40px;
}
.shop_car li{
    position:relative;
    
}
.shop_car:hover{
    background: white;
}
.shop_car li a{
    color:#b0b0b0;
    font-size: 12px;
    display: block;
    margin-left:16px;
    padding-left: 20px;
    background:url(../images/images/car_03.jpg) no-repeat left center;
}
.shop_car li a:hover{
    background:url(../images/images/car_04_03.jpg) no-repeat left center;
    color:#ff6700;
    display: block;
    padding-left:23px;
    
}
.shop_car li .Drop-downMenu{
    width:316px;
    height:99px;
    background:white;
    position:absolute;
    right:0px;
    display: none;
    z-index: 8;
}
.shop_car li:hover .Drop-downMenu{
    display: block;
}
.banner_2{
    width:1227px;
    height:55px;
    margin-top:22px;
    float:left;
    position: relative;
}
.banner_2 .logo{
    float:left;
}
.xiaomi-nav{
    width:620px;
    height:17px;
    margin-left:140px;
    margin-top:20px;
    line-height: 17px;
    float:left;
}
.xiaomi-nav li{
    font-size:16px;
    color:black;
    float:left;
    margin-right:20px;
}
/* .mi-phone-mother{
    position: relative;
} */
.mi-phone{
    margin-left:0px;
}
/*小米导航栏下拉菜单开始*/
.nav-show{
    width:1226px;
    height:229px;
    box-shadow: 0px 5px 10px 0 gray; 
    position: absolute;
    left:-194px;
    top:58px;
    background:palegreen;
    z-index: 7;
    display: none;
}
.nav-show ul{
    margin-left:113px;
}
.nav-show .nav-son{
    width:94px;
    height:229px;
    margin-right:55px;
}
.nav-son .new{
    width:64px;
    height:20px;
    border:1px solid #ff6700;
    background:#ff6700;
    color:white;
    text-align: center;
    line-height:20px;
    margin:0 auto;
}
.nav-son img{
    margin-top:15px;
}
.nav-son .type{
    margin-top:21px;
    margin-left:11px;
    color:black;
    font-size:14px;
}
.nav-son .money{
    margin-top:9px;
    margin-left:22px;
    color:#ff6700;
    font-size:12px;
}
.red-show{
    display: none;
    margin-left:-86px;
}
/* .mi-phone-son{
    width: 100%;
    height:230px;
    background:black;
    position: absolute;
    top:17px;
    z-index: 6;
    /* left:-200px; */
} */
/*小米导航栏下拉菜单结束*/
.search-box{
    width:295px;
    height:54px;
    float:right;
    border:1px solid #e0e0e0;
    /* margin-top:-30px; */
}
.search-box .txt{
    width:243px;
    height:55px;
    outline:none;
    border:none;
    border:1px solid #e0e0e0;
    /* float:right; */
    position: absolute;
    right:-70px;
    padding-left:10px;
    box-sizing: border-box;
    /* margin-right:-116px; */
}
.search-box .btn{
    width:52px;
    height:55px;
    outline: none;
    float:right;
    border:1px solid #e0e0e0;
    background: white url(../images/mirror_07.jpg) no-repeat center center;
}
.banner_3{
    width:100%;
    height:460px;
    margin-top:100px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.banner_3 .banner_3_L{
    width:235px;
    height:460px;
    background:rgba(0,0,0,0.5);
    float:left;
    box-sizing: border-box;
    position:absolute;
    left:0;
    top:0;
    z-index: 3;
}
.banner_3 .banner_3_L li{
    width:234px;
    height:42px;
    line-height: 42px;
    margin-top:4px;
}
.banner_3_L li a{
    display: block;
    margin-left:30px;
    font-size: 12px;
    color:white;
}
/*   */
.phone-card-mom{
    position: relative;
}
.phone-card-mom:hover{
    background:#ff6700;
}
.phone-card{
    width:992px;
    height:458px;
    background:white;
    position: absolute;
    left:235px;
    top:-3px;
    display: none;
}
.card-son1{
    width:159px;
    height:421px;
    margin-left:23px;
    margin-top:20px;
    overflow: hidden;
    float:left;
    margin-right:70px;
}
.phone-card .no-right{
    margin-right:0;
}
.card-son1 li a{
    display: block;
    width:156px;
    height:40px;
    margin-top:33px;
    margin-left:0px;
    color:#333333;
}
.card-son1 li:hover a{
    color:#ff6700;
}
.card-son1 .card-son1-1 a{
    margin-top:0;
}
.card-son1 li a img{
    float:left;
    margin-right:16px;
}
.tv-box{
    display: none;
    top:-49px;
}
/*   */
/* .big-imgbox{
    overflow: hidden;
    width:1266px;
    height:460px;
} */
.banner_3 .imgbox{
    width:999999px;
    height:460px;
    position: absolute;
}
.banner_3 .imgbox li{
    float:left;
    
}
.banner_3 .list{
    width:60px;
    height:10px;
    position: absolute;
    bottom:20px;
    right:35px;
}
.banner_3 .list li{
    width:10px;
    height:10px;
    background:gray;
    margin-right:15px;
    float:left;
    border-radius: 50px;
}
.banner_3 .list li:last-child{
    margin-right:0;
}
.L{
    width:50px;
    height:60px;
    position: absolute;
    top:215px;
    left:245px;
    background:rgba(0,0,0,0);
    line-height: 60px;
    text-align: center;
    margin-left:-10px;
    cursor: pointer;
}
.L:hover{
    background:rgba(0,0,0,0.5);
}
.R{
    width:50px;
    height:60px;
    position: absolute;
    top:215px;
    right:11px;
    background:rgba(0,0,0,0);
    line-height: 60px;
    text-align: center;
    margin-right:-10px;
    cursor: pointer;
}
.R:hover{
    background:rgba(0,0,0,0.5);
}
.choose{
    width:100%;
    height:171px;
    margin-top:14px;
}
.choose .six-box{
    width:235px;
    height:171px;
    float:left;
    background:#5f5750;
}
.six-box li{
    width:76px;
    height:84px;
    float:left;
    border:1px solid #424242;
}
.six-box li a{
    width:76px;
    height:84px;
    font-size:12px;
    color:white;
    display: block;
    margin-top:51px;
    margin-left:15px;
    position: relative;
}
.six-box li a img{
    width:19px;
    height:25px;
    position: absolute;
    top:-30px;
}
.choose img{
    width:317px;
    height:170px;
    float:left;
    margin-left:13px;
}
.choose img:hover{
    box-shadow: 0px 5px 10px 0 gray;
}
.iflashbuy{
    width:100%;
    height:380px;
    margin-top:45px;
    overflow: hidden;
}
.iflashbuy h2{
    font-weight:normal;
    float:left;
}
.iflashbuy-arrow{
    width:67px;
    height:22px;
    float:right;
    border:1px solid gray;
}
.iflashbuy-arrow-L{
    width:34px;
    height:22px;
    float:left;
    background:url(../images/10_03.jpg) no-repeat 12px 4px;
    border-right:1px solid gray;
}
.iflashbuy-arrow-R{
    width:32px;
    height:22px;
    float:left;
    background:url(../images/11_03.jpg) no-repeat 12px 4px;
}
.iflashbuy-son{
    width:1226px;
    height:340px;
    margin-top:39px;
}
.count-down{
    width:234px;
    height:340px;
    background:#f1eded url(../images/12_06.jpg) no-repeat 101px 111px;
    float:left;
    border-top:1px solid #e53935;
}
.count-down h3{
    width:77px;
    height:19px;
    color:#ef3a3b;
    margin:60px 79px;
    font-weight:normal;
    text-align: center;
    line-height: 19px;
    font-size:19px;
}
.count-down p{
    width:91px;
    height:13px;
    font-size:15px;
    /* display: block; */
    margin:120px 71px;
    margin-bottom:0;
    text-align: center;
    line-height: 13px;
}
.count-down .time{
    width:168px;
    height:46px;
    margin-top:33px;
    margin-left:33px;
}
.time li{
    float:left;
    width:46px;
    height:46px;
    background:#605751;
    line-height: 46px;
    text-align: center;
}
.hour{
    color:white;
    font-size:28px;
}
.minute{
    color:white;
    font-size:28px;
}
.second{
    color:white;
    font-size:28px;
}
.time li:nth-child(2){
    width:15px;
    background:white;
    text-align: center;
    line-height: 46px;
}
.time li:nth-child(4){
    width:15px;
    background:white;
    text-align: center;
    line-height: 46px;
}
.iflashbuy-son .son1{
    width:234px;
    height:340px;
    background:#fafafa url(../images/13_06.jpg) no-repeat 93px 50px;
    float:left;
    border-top:1px solid #ffac13;
    margin-left:14px;
}
.iflashbuy-son .son1 .seckill{
    width:64px;
    height:20px;
    margin:0 auto;
    background:#e53935;
    color:white;
}
.iflashbuy-son .son1 .explain{
    width:193px;
    height:66px;
    margin:211px 19px;
}
.iflashbuy-son .son1 .explain .ex_1{
    color:#202020;
    font-size:15px;
}
.iflashbuy-son .son1 .explain .ex_2{
    color:#adadad;
    font-size:12px;
    margin:5px 31px;
}
.iflashbuy-son .son1 .explain .ex_3{
    color:#fa7f09;
    font-size:12px;
    margin:11px 67px;
}
.iflashbuy-son .son2{
    width:234px;
    height:340px;
    background:#fafafa url(../images/14_06.jpg) no-repeat 64px 80px;
    float:left;
    border-top:1px solid #83c44e;
    margin-left:14px;
}
.iflashbuy-son .son2 .seckill{
    width:64px;
    height:20px;
    margin:0 auto;
    background:#e53935;
    color:white;
}
.iflashbuy-son .son2 .explain{
    width:193px;
    height:66px;
    margin:211px 19px;
}
.iflashbuy-son .son2 .explain .ex_1{
    color:#202020;
    font-size:15px;
}
.iflashbuy-son .son2 .explain .ex_2{
    color:#adadad;
    font-size:12px;
    margin:5px 31px;
}
.iflashbuy-son .son2 .explain .ex_3{
    color:#fa7f09;
    font-size:12px;
    margin:11px 67px;
}
.iflashbuy-son .son3{
    width:234px;
    height:340px;
    background:#fafafa url(../images/15_06.jpg) no-repeat 63px 65px;
    float:left;
    border-top:1px solid #2196f3;
    margin-left:14px;
}
.iflashbuy-son .son3 .seckill{
    width:64px;
    height:20px;
    margin:0 auto;
    background:#e53935;
    color:white;
}
.iflashbuy-son .son3 .explain{
    width:193px;
    height:66px;
    margin:211px 19px;
}
.iflashbuy-son .son3 .explain .ex_1{
    color:#202020;
    font-size:15px;
}
.iflashbuy-son .son3 .explain .ex_2{
    color:#adadad;
    font-size:12px;
    margin:5px 31px;
}
.iflashbuy-son .son3 .explain .ex_3{
    color:#fa7f09;
    font-size:12px;
    margin:11px 67px;
}
.iflashbuy-son .son4{
    width:234px;
    height:340px;
    background:#fafafa url(../images/16_06.jpg) no-repeat 49px 51px;
    float:left;
    border-top:1px solid #e53935;
    margin-left:14px;
}
.iflashbuy-son .son4 .explain{
    width:193px;
    height:66px;
    margin:231px 19px;
}
.iflashbuy-son .son4 .explain .ex_1{
    color:#202020;
    font-size:15px;
}
.iflashbuy-son .son4 .explain .ex_2{
    color:#adadad;
    font-size:12px;
    margin:5px 31px;
}
.iflashbuy-son .son4 .explain .ex_3{
    color:#fa7f09;
    font-size:12px;
    margin:11px 67px;
}
.mi8-banner{
    width:1226px;
    height:120px;
    background:red;
    float:left;
    margin-bottom:83px;
    margin-top:42px;
}
.main{
    width:100%;
    height:6800px;
    background:#f5f5f5;
    margin-top:204px;
}
.phone{
    width:1226px;
    height:654px;
    overflow: hidden;
}
.phone h2{
    font-size:22px;
    font-weight:normal;
    float:left;
}
.phone .check-all{
    width:93px;
    height:22px;
    float:right;
    background: url(../images/18_18.jpg) no-repeat right center;
    font-size:17px;
}
.phone .phone-l{
    width:235px;
    height:613px;
    float:left;
    margin-top:39px;
    margin-left:-43px;
}
.phone .phone-l:hover{
    transform: translate3d(0,-2px,0);
    box-shadow: 0px 5px 10px 0 gray;
    transition: 0.3s;
}
.phone .phone-r{
    width:979px;
    height:615px;
    float:right;
    margin-top:16px;
}
.phone-r-up .son1{
    width:233px;
    height:300px;
    background:#fafafa url(../images/13_06.jpg) no-repeat 93px 36px;
    float:left;
    border-top:1px solid #ffac13;
}
.phone-r-up .son1:hover{
    transform: translate3d(0,-2px,0);
    box-shadow: 0px 5px 10px 0 gray;
    transition: 0.3s;
}
.phone-r-up .son1 .seckill{
    width:64px;
    height:20px;
    margin:0 auto;
    background:#e53935;
    color:white;
}
.phone-r-up .son1 .explain{
    width:193px;
    height:66px;
    margin:211px 19px;
}
.phone-r-up .son1 .explain .ex_1{
    color:#202020;
    font-size:15px;
}
.phone-r-up .son1 .explain .ex_2{
    color:#adadad;
    font-size:12px;
    margin:5px 31px;
}
.phone-r-up .son1 .explain .ex_3{
    color:#fa7f09;
    font-size:12px;
    margin:11px 67px;
}
.phone-r-up .son2{
    width:233px;
    height:300px;
    background:#fafafa url(../images/13_06.jpg) no-repeat 93px 36px;
    float:left;
    border-top:1px solid #ffac13;
    margin-left:14px;
}
.phone-r-up .son2:hover{
    transform: translate3d(0,-2px,0);
    box-shadow: 0px 5px 10px 0 gray;
    transition: 0.3s;
}
.phone-r-up .son2 .seckill{
    width:64px;
    height:20px;
    margin:0 auto;
    background:#e53935;
    color:white;
}
.phone-r-up .son2 .explain{
    width:193px;
    height:66px;
    margin:211px 19px;
}
.phone-r-up .son2 .explain .ex_1{
    color:#202020;
    font-size:15px;
}
.phone-r-up .son2 .explain .ex_2{
    color:#adadad;
    font-size:12px;
    margin:5px 31px;
}
.phone-r-up .son2 .explain .ex_3{
    color:#fa7f09;
    font-size:12px;
    margin:11px 67px;
}
.phone-r-up .son3{
    width:233px;
    height:300px;
    background:#fafafa url(../images/13_06.jpg) no-repeat 93px 36px;
    float:left;
    border-top:1px solid #ffac13;
    margin-left:14px;
}
.phone-r-up .son3:hover{
    transform: translate3d(0,-2px,0);
    box-shadow: 0px 5px 10px 0 gray;
    transition: 0.3s;
}
.phone-r-up .son3 .seckill{
    width:64px;
    height:20px;
    margin:0 auto;
    background:#e53935;
    color:white;
}
.phone-r-up .son3 .explain{
    width:193px;
    height:66px;
    margin:211px 19px;
}
.phone-r-up .son3 .explain .ex_1{
    color:#202020;
    font-size:15px;
}
.phone-r-up .son3 .explain .ex_2{
    color:#adadad;
    font-size:12px;
    margin:5px 31px;
}
.phone-r-up .son3 .explain .ex_3{
    color:#fa7f09;
    font-size:12px;
    margin:11px 67px;
}
.phone-r-up .son4{
    width:233px;
    height:300px;
    background:#fafafa url(../images/13_06.jpg) no-repeat 93px 36px;
    float:left;
    border-top:1px solid #ffac13;
    margin-left:14px;
}
.phone-r-up .son4:hover{
    transform: translate3d(0,-2px,0);
    box-shadow: 0px 5px 10px 0 gray;
    transition: 0.3s;
}
.phone-r-up .son4 .seckill{
    width:64px;
    height:20px;
    margin:0 auto;
    background:#e53935;
    color:white;
}
.phone-r-up .son4 .explain{
    width:193px;
    height:66px;
    margin:232px 19px;
}
.phone-r-up .son4 .explain .ex_1{
    color:#202020;
    font-size:15px;
}
.phone-r-up .son4 .explain .ex_2{
    color:#adadad;
    font-size:12px;
    margin:5px 31px;
}
.phone-r-up .son4 .explain .ex_3{
    color:#fa7f09;
    font-size:12px;
    margin:11px 67px;
}
.phone-r-down .son1{
    width:233px;
    height:300px;
    background:#fafafa url(../images/13_06.jpg) no-repeat 93px 36px;
    float:left;
    border-top:1px solid #ffac13;
    margin-top:14px;
}
.phone-r-down .son1:hover{
    transform: translate3d(0,-2px,0);
    box-shadow: 0px 5px 10px 0 gray;
    transition: 0.3s;
}
.phone-r-down .son1 .seckill{
    width:64px;
    height:20px;
    margin:0 auto;
    background:#e53935;
    color:white;
}
.phone-r-down .son1 .explain{
    width:193px;
    height:66px;
    margin:211px 19px;
}
.phone-r-down .son1 .explain .ex_1{
    color:#202020;
    font-size:15px;
}
.phone-r-down .son1 .explain .ex_2{
    color:#adadad;
    font-size:12px;
    margin:5px 31px;
}
.phone-r-down .son1 .explain .ex_3{
    color:#fa7f09;
    font-size:12px;
    margin:11px 67px;
}
.phone-r-down .son2{
    width:233px;
    height:300px;
    background:#fafafa url(../images/13_06.jpg) no-repeat 93px 36px;
    float:left;
    border-top:1px solid #ffac13;
    margin-left:14px;
    margin-top:14px;
}
.phone-r-down .son2:hover{
    transform: translate3d(0,-2px,0);
    box-shadow: 0px 5px 10px 0 gray;
    transition: 0.3s;
}
.phone-r-down .son2 .seckill{
    width:64px;
    height:20px;
    margin:0 auto;
    background:#e53935;
    color:white;
}
 .phone-r-down .son2 .explain{
    width:193px;
    height:66px;
    margin:211px 19px;
}
.phone-r-down .son2 .explain .ex_1{
    color:#202020;
    font-size:15px;
}
.phone-r-down .son2 .explain .ex_2{
    color:#adadad;
    font-size:12px;
    margin:5px 31px;
}
.phone-r-down .son2 .explain .ex_3{
    color:#fa7f09;
    font-size:12px;
    margin:11px 67px;
}
.phone-r-down .son3{
    width:233px;
    height:300px;
    background:#fafafa url(../images/13_06.jpg) no-repeat 93px 36px;
    float:left;
    border-top:1px solid #ffac13;
    margin-left:14px;
    margin-top:14px;
}
.phone-r-down .son3:hover{
    transform: translate3d(0,-2px,0);
    box-shadow: 0px 5px 10px 0 gray;
    transition: 0.3s;
}
.phone-r-down .son3 .seckill{
    width:64px;
    height:20px;
    margin:0 auto;
    background:#e53935;
    color:white;
}
.phone-r-down .son3 .explain{
    width:193px;
    height:66px;
    margin:211px 19px;
}
.phone-r-down .son3 .explain .ex_1{
    color:#202020;
    font-size:15px;
}
.phone-r-down .son3 .explain .ex_2{
    color:#adadad;
    font-size:12px;
    margin:5px 31px;
}
.phone-r-down .son3 .explain .ex_3{
    color:#fa7f09;
    font-size:12px;
    margin:11px 67px;
}
.phone-r-down .son4{
    width:233px;
    height:300px;
    background:#fafafa url(../images/13_06.jpg) no-repeat 93px 45px;
    float:left;
    border-top:1px solid #ffac13;
    margin-left:14px;
    margin-top:14px;
}
.phone-r-down .son4:hover{
    transform: translate3d(0,-2px,0);
    box-shadow: 0px 5px 10px 0 gray;
    transition: 0.3s;
}
.phone-r-down .son4 .seckill{
    width:64px;
    height:20px;
    margin:0 auto;
    background:#e53935;
    color:white;
}
.phone-r-down .son4 .explain{
    width:193px;
    height:66px;
    margin:232px 19px;
}
.phone-r-down .son4 .explain .ex_1{
    color:#202020;
    font-size:15px;
}
.phone-r-down .son4 .explain .ex_2{
    color:#adadad;
    font-size:12px;
    margin:5px 31px;
}
.phone-r-down .son4 .explain .ex_3{
    color:#fa7f09;
    font-size:12px;
    margin:11px 67px;
}
.smarttv-banner{
    width:1226px;
    height:120px;
    margin-top:42px;
    margin-bottom:43px;
}
/*家電開始*/
.home-appliances{
    width:1226px;
    height:651px;
}
.home-appliances h2{
    font-weight: normal;
    font-size:22px;
    float:left;
}
.hotdoor-nav{
    width:260px;
    height:16px;
    float:right;
}
.hotdoor-nav li{
    margin-right:32px;
    font-size:16px;
}
.hotdoor-nav li:hover{
    color:#fe6731;
    cursor: pointer;
}
.hotdoor-nav .hotdoor{
    color:#fe6731;
}
.hotdoor-nav .fur{
    margin-right:0;
}
.hotdoor-nav .hotdoor{
    width:35px;
    height:16px;
    float:left;
}
.hot{
    position: relative;
}
.hotdoor-son{
    width:978px;
    height:614px;
    position: absolute;
    left:-720px;
    top:40px;
}
.hotdoor-son li{
    width:234px;
    height:300px;
    float:left;
    margin-right:14px;
    position: relative;
    background:white;
    overflow: hidden;
}
.hotdoor-son li:hover{
    transition:0.2s; 
    transform: translate3d(0,-2px,0);
    box-shadow: 0px 5px 10px 0 gray;
}
.hotdoor-son .sona{
    margin-bottom:14px;
}
.hotdoor-son .sona-right{
    margin-bottom:14px;
    margin-right:0;
}
.hotdoor-son img{
    margin-top:71px;
    margin-left:52px;
}
.hotdoor-son li .on-orange{
    width:234px;
    height:76px;
    background:#ff6700;
    position: absolute;
    bottom: -80px;
    transition: all .5s;

    /* display: none; */
}
.hotdoor-son li:hover .on-orange  {
    bottom: 0;
}
.hotdoor-son li .on-orange .evaluate{
    width:172px;
    height:32px;
    color:white;
    font-size:12px;
    margin-left:29px;
    margin-top:11px;
}
.hotdoor-son li .on-orange .from{
    width:140px;
    height:11px;
    margin-left:30px;
    margin-top:12px;
    font-size:12px;
    color:#ffc299;
}
.hotdoor-son li .reduce{
    width:64px;
    height:20px;
    background:#e53935;
    color:white;
    margin:0 auto;
}
.hotdoor-son li .tv-4a{
    margin-top:47px;
    margin-left:35px;
    font-size:14px;
    color:#333333;
}
.hotdoor-son li .smart-voice{
    margin-top:7px;
    margin-left:52px;
    font-size:12px;
    color:#b0b0b0;
}
.hotdoor-son li .mony{
    margin-top:19px;
    margin-left:60px;
    font-size:15px;
    color:#ff6700;
}
.hotdoor-son li .mony s{
    color:#b0b0b0;
}
/*热门结束*/
/*电视开始*/
.hotdoor-nav .tv{
    width:64px;
    height:16px;
    float:left;
    margin-left:20px;
}
.hot .tv-son{
    z-index: 2;
     display: none;
    
}
.hot .tv-son li .on-orange{
    width:234px;
    height:76px;
    background:#ff6700;
    position: absolute;
    bottom: -80px;
    transition: all .5s;

    /* display: none; */
}
.hotdoor-son li:hover .on-orange  {
    bottom: 0;
}
/*电视结束*/
.hotdoor-nav .computer{
    width:45px;
    height:16px;
    float:left;
    margin-left:20px;
}
.hotdoor-nav .furniture{
    width:45px;
    height:16px;
    float:left;
    margin-left:15px;
}
.home-appliances-l{
    width:234px;
    height:614px;
    float:left;
    margin-top:40px;
    margin-left:-45px;
}
/*为你推荐*/
.introduce{
    width:100%;
    height:344px;
    margin-top:38px;
}
.introduce h2{
    font-weight: normal;
    font-size:22px;
    float:left;
}
.introduce-son{
    width:1226px;
    height:300px;
    margin-top:20px;
    float:left;
}
.introduce-son li{
    float:left;
    width:234px;
    height:300px;
    background:white;
    margin-right:14px;
}
.introduce-son li:hover{
    transition:0.2s; 
    transform: translate3d(0,-2px,0);
    box-shadow: 0px 5px 10px 0 gray; 
}
.introduce-son .no-right{
    margin:0;
}
.introduce-son li img{
    margin-top:54px;
    margin-left:90px;
}
.introduce-son li .mi8{
    margin-top:39px;
    margin-left:22px;
    font-size:14px;
    color:#333333;
}
.introduce-son li .money{
    margin-top:16px;
    margin-left:95px;
    font-size:12px;
    color:#ff6700;
}
.introduce-son li .haoping{
    margin-top:21px;
    margin-left:84px;
    font-size:12px;
    color:#757575;
}
.buzz{
    width:100%;
    height:455px;
    margin-top:41px;
}
.buzz h2{
    font-weight:normal;
    font-size:22px;
    float:left;
}
.buzz .product{
    width:100%;
    height:415px;
    float:left;
    margin-top:18px;
}
.buzz .product li{
    width:295px;
    height:415px;
    background:white;
    float:left;
    margin-right:15px;
}
.buzz .product li:hover{
    transition:0.2s; 
    transform: translate3d(0,-2px,0);
    box-shadow: 0px 5px 10px 0 gray; 
}
.buzz .product .no-right{
    margin-right: 0;
}
.superlike{
    width:238px;
    height:60px;
    margin-left:28px;
    margin-top:34px;
    color:#333333;
    font-size:14px;
}
.buzz .product .from{
    margin-top:31px;
    margin-left:27px;
    color:#b0b0b0;
    font-size:14px;
}
.voice-box{
    font-size:14px;
    color:#333333;
    margin-left:27px;
    margin-top:16px;
}
.main-lunbo{
    width:100%;
    height:462px;
    margin-top:38px;
}
.main-lunbo h2{
    font-weight: normal;
    font-size:22px;
}
.main-lunbo .protect{
    width:296px;
    height:419px;
    overflow: hidden;
    margin-left:0;
    float:left;
    margin-right:14px;
}
.main-lunbo .protect:hover{
    transition:0.2s; 
    transform: translate3d(0,-2px,0);
    box-shadow: 0px 5px 10px 0 gray; 
}
.main-lunbo .protect .right{
    display:none;
}
.main-lunbo .protect:hover .right{
    display: block;
}
.main-lunbo .protect .left{
    display:none;
}
.main-lunbo .protect:hover .left{
    display: block;
}
.main-lunbo .no-right{
    margin-right:0;
}
.main-lunbo-son1
{
    width:888px;
    height:419px;
    margin-top:18px;
    border-top:1px solid #ffac13;
    position: relative;
}
.main-lunbo-son1 .son1-first{
    float:left;
}
.son1-first a{
    display: block;
    width:296px;
    height:419px;
    overflow: hidden;
    background:white;
}
a .book{
    margin-top:50px;
    margin-left:132px;
    color:#ffac13;
    font-size:16px;
}
a .book-name{
    margin-top:25px;
    margin-left:35px;
    font-size:20px;
    color:#333333;
}
a .book-intro{
    width:192px;
    margin-top:12px;
    margin-left:52px;
    color:#b0b0b0;
    font-size:12px;
    text-align: center;
}
.son1-first a .money{
    margin-left:123px;
    margin-top:21px;
    color:black;
    font-size:15px;
}
.son1-first a img{
    margin-left:96px;
    margin-top:27px;
}
.main-lunbo-son1 .R{
    position:absolute;
}
.main-lunbo-son1 .L{
    position:absolute;
}
.video{
    width:100%;
    height:324px;
    margin-top:41px;
    position: relative;
}
.video h2{
    font-weight:normal;
    font-size:22px;
    float:left;
    position: absolute;
}
.video .check-all{
    width:93px;
    height:22px;
    float:right;
    position: absolute;
    right:0;
    background:url(../images/18_18.jpg) no-repeat right center;
}
.fire{
    width:296px;
    height:285px;
    background:white;
    float:left;
    margin-top:39px;
    margin-right:15px;
}
.video .no-right{
    position: relative;
    top:-324px;
    left:930px;
}
.fire .a-fire{
    margin-top:33px;
    margin-left:126px;
    font-size:16px;
    color:black;
}
.fire .fire-intro{
    margin-top:13px;
    margin-left:54px;
    font-size:16px;
    color:#b0b0b0;
}
.video .fire:hover{
    transition:0.2s; 
    transform: translate3d(0,-2px,0);
    box-shadow: 0px 5px 10px 0 gray; 
}
.footer{
    width:100%;
    height:437px;
    margin-top:-240px;
}
.footer-top{
    width:1226px;
    height:79px;
    float:left;
    border-bottom:1px solid #e0e0e0;
}
.footer-top .header{
    width:1226px;
    height:25px;
    margin-top:27px;
}
.header li{
    width:242px;
    float:left;
    text-align: center;
    border-right:1px solid #e0e0e0;
    background:url(../images/42_03.jpg) no-repeat 48px center;
}
.header li:hover{
    background:url(../images/45_03.jpg) no-repeat 48px center;
}
.header li a:hover{
    color:#ff6700;
}
.header .no-right{
    border:0;
}
.footer-nav{
    width:975px;
    height:111px;
    margin-top:42px;
    float:left;
    border-right:1px solid #e0e0e0;
}
.help{
    width:57px;
    height:111px;
    float:left;
    margin-right:103px;
}
.footer-nav .no-right{
    margin-right:0;
}
.help h3{
    font-size:12px;
    color:black;
    font-weight: normal;
}
.help ul{
    margin-top:32px;
}
.help li a{
    font-size:12px;
    color:#757575;
}
.help li:hover a{
    color:#ff6700;
}
.contact-way{
    width:251px;
    height:112px;
    float:right;
    margin-top:40px;
}
.contact-way .tel{
    margin-left:57px;
    font-size:20px;
    color:#ff6700;
}
.work-time{
    font-size:12px;
    color:#616161;
    margin-top:11px;
    margin-left:64px;
}
.ps{
    margin-top:11px;
    margin-left:87px;
    font-size:12px;
    color:#616161;
}
.kefu{
    width:118px;
    height:28px;
    border:1px solid #ff6700;
    margin-top:4px;
    margin-left:65px;
    line-height: 28px;
    text-align: center;
    color:#ff6700;
    font-size:12px;
    padding-left:10px;
    box-sizing: border-box;
    background:white url(../images/43_08.jpg) no-repeat 28px center;
}
.kefu:hover{
    background:#ff6700 url(../images/44_03.jpg) no-repeat 28px center;
    color:white;
}
.feedback{
    width:756px;
    height:57px;
    float:left;
    margin-top:69px;
}
.son-logo{
    float:left;
}
.reference{
    width:690px;
    height:47px;
    float:right;
    margin-top:2px;
}
.ref li{
    float:left;
    line-height: 12px;
    text-align: center;
    color:#757575;
    padding-right:3px;
}
.ref li:hover a{
    color:#ff6700;
}
.ref li a{
    font-size:12px;
    color:#757575;
}
.ref-son{
    width:629px;
    height:12px;
    line-height: 12px;
}
.ref-son li{
    float:left;
}
.ref-son li:hover a{
    color:#ff6700;
}
.ref-son li a{
    font-size:12px;
    color:#b0b0b0;
}
.illegal{
    width:578px;
    height:12px;
    font-size:12px;
    color:#b0b0b0;
    margin-top:-5px;
}
.brand{
    width:433px;
    height:28px;
    float:right;
    margin-top:77px;
}
.brand img{
    float:left;
    margin-right:6px;
}
.bras{
    width:342px;
    height:27px;
    float:right;
}
.bras li{
    width:80px;
    height:27px;
    float:left;
    line-height:12px;
    margin-right:12px;
}
.bras #no-right{
    position: relative;
    left:265px;
    top:-27px;
}
.bras li a{
    font-size:12px;
    color:#868686;
}
.bras li img{
    margin-top:4px;
}
.up{
    position:fixed;
    bottom:71px;
    right:35px;
    width:25px;
    height:39px;
    background:white;
    border:none;
    outline: none;
}